body {
    background-image: url(../assets/img/cool-background.png) ;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gmr {
    font-family: 'Times New Roman', Times, serif;
    color: darkblue;
    font-size: xx-large;
    top: 50px;
    text-align: center;
}

.nite {
    font-family: cursive;
    color: green;
    font-size: 50px;
    position: relative;
    float: right;
}

.nity {
    font-family:'Times New Roman', Times, serif;
    color: darkcyan;
    font-size: 50px;
    position: relative;
    left: 30px;
}

.hurtz{
    font-size: 150px;
    position: relative;
    float: right;
    right: 250px;
}

.fort {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    position: relative;
    float: right;
    color: darkred;
}

.footer {
    position: fixed;
    bottom: 0px;
    font-family: fantasy;
    font-size: medium;
    text-align: center;
    z-index: 1;
}

.thanks {
    font-family: 'Times New Roman', Times, serif;
    color:goldenrod;
    font-size: 100px;
    text-align: center;
    position:relative;
    left: 40px;
}

.thnks {
    font-family: 'Times New Roman', Times, serif;
    color:darkcyan;
    font-size: 100px;
    text-align: center;
    position:relative;
    left: 300px;
}